/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .cat-breed-container-showing {
    background: linear-gradient(
      36.31deg,
      #fafaff 12.05%,
      rgba(255, 255, 255, 0) 1045.02%
    );
    position: absolute;
    height: calc(100% - calc(4vh + 51px + 1rem));
    top: calc(4vh + 50px + 1rem);
    left: 0;
    width: 250px;
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
  }

  .cat-breed-container {
    background: linear-gradient(
      36.31deg,
      #fafaff 12.05%,
      rgba(255, 255, 255, 0) 1045.02%
    );
    position: absolute;
    height: calc(100% - calc(4vh + 51px + 1rem));
    top: calc(4vh + 50px + 1rem);
    left: 0;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in;
  }
}

@media only screen and (min-width: 992px) {
  .cat-breed-container {
    background: linear-gradient(
      36.31deg,
      #fafaff 12.05%,
      rgba(255, 255, 255, 0) 1045.02%
    );
    border-radius: 5px;
    flex: 1;
    overflow-y: scroll;
  }
}

.cat-breed-header {
  border-bottom: 1px solid #d0dae8;
}

.cat-breed-header h2 {
  font-family: 'Brown';
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;
  text-transform: capitalize;
}

.cat-breed-body {
  padding: 0 0em;
  overflow-y: scroll;
  margin: 10px;
  /* The height of this element is 100% of its father's height,
     * minus 60px from the header's height,
     * minus 20px from the margin top/bottom
     */
  height: calc(100% - 80px);
}

.cat-breed-item:hover {
  background: rgba(3, 0, 250, 0.05);
}

.cat-breed-item-selected {
  background: rgba(3, 0, 250, 0.1);
}

.cat-breed-list-inner {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0dae8;
  padding: 1.6em 0;
  margin: 0 2em;
}

.cat-breed-list-inner h2 {
  font-family: 'Brown';
  color: #000000;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
}

/**
 * Used to apply special styles to the scroll bars
 */
.cat-breed-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5452f6;
}

.cat-breed-body::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 82, 246, 0.6);
}
