.cat-feed-container {
  background: linear-gradient(
    36.31deg,
    #fafaff 12.05%,
    rgba(255, 255, 255, 0) 1045.02%
  );
  border-radius: 5px;
  flex: 1;
  margin-right: 0.5em;
}

.cat-feed-header {
  border-bottom: 1px solid #d0dae8;
}

.cat-feed-header h2 {
  font-family: 'Brown';
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;
  text-transform: capitalize;
}

.cat-feed-list {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0dae8;
  padding: 1.6em 0;
  margin: 0 2em;
}

.cat-feed-list:hover {
  background: #e29322;
}

.cat-feed-list h2 {
  font-family: 'Brown';
  color: #000000;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
}
