.cat-form-banner-container {
  background: rgba(3, 0, 250, 0.4);
  border-radius: 5px;
  flex: 1;
  min-height: 40vh;
}

.cat-form-banner-container h1 {
  display: flex;
  align-items: center;
  font-family: 'Bennet Display';
  font-style: normal;
  font-weight: bold;
  color: #f3f3ff;
  padding: 10px 29px;
  font-size: var(--lg-font-title);
  line-height: var(--lg-line-height);
}
