@media only screen and (max-width: 991px) {
  .burger {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
  }

  .header-content-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
    color: #000;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  .header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
  }

  .header-content-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 1rem;
    flex: 1;
    color: #000;
  }
}

.header-logo {
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin-right: 2rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: #f3f3ff;
  border-radius: 5px;
  width: 16rem;
  height: 2rem;
  width: 100%;
}

.search-bar img {
  width: 16px;
  height: 16px;
  margin: 0 0.8rem;
}

.search-bar input {
  background: #f3f3ff;
  border-radius: 5px;
  border-width: 0;
  height: 100%;
  flex: 1;
}

.header-content-right button {
  cursor: pointer;
  background: #f3f3ff;
  border-radius: 5px;
  border-width: 0;
  width: 16rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-content-right button img {
  width: 16px;
  height: 16px;
  margin: 0 0.5rem;
}
