.cat-list-container {
  background: linear-gradient(
    13.09deg,
    #fafaff 12.05%,
    rgba(255, 255, 255, 0) 1045.02%
  );
  border-radius: 5px;
  grid-column: span 3;
  height: 100%;
  overflow-y: hidden;
}

.cat-list-header {
  border-bottom: 1px solid #d0dae8;
}

.cat-list-header h2 {
  font-family: 'Brown';
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;
  text-transform: capitalize;
}

.cat-list-body {
  padding: 0 2em;
  overflow-y: scroll;
  margin: 10px;
  /* The height of this element is 100% of its father's height,
   * minus 60px from the header's height,
   * minus 20px from the margin top/bottom
   */
  height: calc(100% - 80px);
}

.cat-list-body li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0dae8;
  padding: 0.5em 0;
}

.cat-list-body-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-list-body-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-list-body-empty img {
  width: 120px;
  height: 120px;
}

.cat-list-body li:hover {
  background: rgba(3, 0, 250, 0.05);
}

.cat-list-body ul:last-child {
  margin-bottom: 0.5em;
}

.cat-avatar {
  margin-right: 2em;
}

.cat-avatar img {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.cat-line-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0.5rem;
  width: 100%;
}

.cat-list-body li h3 {
  font-family: 'Brown';
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
}

/**
 * Used to apply special styles to the scroll bars
 */
.cat-list-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5452f6;
}

.cat-list-body::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 82, 246, 0.6);
}
