.cat-list-container {
  background: linear-gradient(
    13.09deg,
    #fafaff 12.05%,
    rgba(255, 255, 255, 0) 1045.02%
  );
  border-radius: 5px;
  flex: 3;
  margin-left: 0.5em;
}

.cat-list-header {
  border-bottom: 1px solid #d0dae8;
}

.cat-list-header h2 {
  font-family: 'Brown';
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  margin: 20px;
  text-transform: capitalize;
}

.cat-list-body {
  padding: 0 2em;
  overflow-y: scroll;
  margin: 10px;
  /* The height of this element is 100% of its father's height,
   * minus 60px from the header's height,
   * minus 20px from the margin top/bottom
   */
  height: calc(100% - 80px);
}

.cat-list-body li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d0dae8;
  padding: 0.5em 0;
}

.cat-list-body ul:last-child {
  margin-bottom: 0.5em;
}

.cat-avatar {
  margin-right: 2em;
}

.cat-avatar img {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.cat-list-body li h3 {
  font-family: 'Brown';
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  flex: 1;
}

.cat-list-body li span {
  font-family: 'Brown';
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  flex: 1;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #5452f6;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 82, 246, 0.6);
}
