.App {
  width: 100vw;
  height: 100vh;
  padding: 4vh 3vw;
}

@font-face {
  font-family: 'Brown';
  src: local('Brown'), url(./fonts/BrownMedium-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Brown';
  font-weight: bold;
  src: local('Brown'), url(./fonts/Brown-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Brown';
  font-style: italic;
  src: local('Brown'), url(./fonts/Brown-Italic.ttf) format('opentype');
}
