.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 4vh 3vw;
}

@font-face {
  font-family: 'Brown';
  src: local('Brown'),
    url(./assets/fonts/BrownMedium-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Brown';
  font-weight: bold;
  src: local('Brown'), url(./assets/fonts/Brown-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Brown';
  font-style: italic;
  src: local('Brown'), url(./assets/fonts/Brown-Italic.ttf) format('opentype');
}
