* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    347.71deg,
    #5452f6 12.93%,
    rgba(84, 82, 246, 0) 241.45%
  );
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
}
